body{
	background:#6290C3;
	text-align: center;
	font-family: Century Gothic, sans-serif;
	color: #F1FFE7;
}



a:link, a:visited {
    color: #F1FFE7;
	font-size: 25px;
	text-decoration: none;
}


a:hover, a:active {
	color: #C2E7DA;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1{
	font-size: 50px;
	background: #1A1B41;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 30px;
}

.content{
	font-size: 20px;
}



