body{
	background-image: url(http://www.clker.com/cliparts/f/6/5/d/14118920021028577680yellow%20and%20dark%20pink%20red%20background.jpg);
	text-align: center;
	font-family: Century Gothic, sans-serif;
	color: white;
}


a:link, a:visited {
    color: white;
    display: list-item;
	font-size: 25px;
}


a:hover, a:active {
    font-size: 100px;
	text-decoration: underline;
	color: black;
}

ul{
	text-align: center;	
}

h1{
	font-size: 50px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 30px;
}

.extreme:hover{
	text-shadow: 4px 4px 7px red;
}

.navzone:hover{
	text-shadow: 4px 4px 7px orange;
}

.content:hover{
	text-shadow: 4px 4px 7px yellow;
}

.prose:hover{
	text-shadow: 4px 4px 20px black;
}


div:hover{
	color: black;
}


